@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}

h1 {
  font-family: "Outfit";
}

h2 {
  font-family: "Outfit";
}
